{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>book's index</title>
    <link rel="stylesheet" href="{% static 'css/test.css' %}">
</head>
<body>
<h1>测试用例页面</h1>
</body>
类 {{ classTest}} <br>
类方法 {{ classTest.run }} <br>
函数 {{ test }} <br>
字典 {{ dict1 }} <br>
列表 {{ list1 }} <br>
元组 {{ tuple1 }} <br>
字符串 {{ string1|slice:"1:3" }} <br>
<br> <br>
<h1>过滤器测试用例</h1>

<h1>静态文件的导入用例</h1>

<p>一个p标签</p>
<script src="{% static 'js/test.js' %}"></script>
<img src="{% static 'img/panda.jpg' %}" alt="加载失败">

</html>