<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
</head>
<body>

    {% if username != 'AnonymousUser' %}

    <h1>{{ username }}</h1>
{% else %}
    <h1>未登录</h1>
{% endif %}


<div>
    <div>
        <a href="{% url 'write' %}"><span>写文章</span></a> | <a href="{% url 'blog2' %}"><span>博客列表</span></a>
    </div>
</div>

<div>
    {% if username != 'AnonymousUser' %}
    <div>
        <a href="{% url 'logout' %}"><span>退出</span></a>
    </div>
    {% else %}
    <div>
        <a href="{% url 'login' %}"><span>登录</span></a> | <a href="{% url 'register' %}"><span>注册</span></a>
    </div>
    {% endif %}
</div>


</body>
</html>